.banner-bg {
    background-image: url("../../image/bg.jpg"); 
    background-position: top;
   background-size:cover; 
   height: 400px;
width: 100%;
}
.header nav{ 
    line-height: 60px;
    background-color:coral;

}
.header a:hover{
background-color:rgb(233, 172, 149);
}
.header nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    padding: 5px;
    font-size: 20px;
}
